.newPostGroupWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
}
.newPostFormContainer {
  -webkit-box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.2);
  box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 300px;
  background: hsl(211, 12%, 43%);
  height: auto;
  min-height: 400px;
  border-radius: 6px;
}
.newPostPageWrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.newPostTimeContainer {
  padding: 10px;
}
.timeInput {
  width: 95px;
  width: 95px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  padding-left: 5px;
  cursor: pointer;
}
.newPostLabel {
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-bottom: 10px;
  color: hsl(216, 33%, 99%);
}
.newPostInput {
  width: 100%;
  border: transparent;
  border-radius: 6px;
  height: 28px;
  padding-left: 3px;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 225ms linear;
  transition: all 225ms linear;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.newPostInput:focus {
  border: 1px solid hsl(197, 84%, 55%);
  -webkit-box-shadow: 0px 0px 0px 1px hsl(197, 84%, 55%);
  box-shadow: 0px 0px 0px 1px hsl(197, 84%, 55%);
}
.groupLimitSelect {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid hsl(196, 94%, 67%);
  padding: 10px;
  color: hsl(216, 33%, 99%);
  cursor: pointer;
}
.groupLimitSelect option {
  background-color: hsl(201, 20%, 25%);
}
.newPostSelectLabel {
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: hsl(216, 33%, 99%);
}
.newPostSubmitBtn {
  border: 2px solid hsl(197, 50%, 57%);
  width: 115px;
  height: 40px;
  background-color: transparent;
  border-radius: 8px;
  color: hsl(216, 33%, 99%);
  cursor: pointer;
  -webkit-transition: all 225ms ease-in-out;
  transition: all 225ms ease-in-out;
}
.newPostSubmitBtn:hover {
  border: none;
  background-color: hsl(197, 50%, 57%);
}
.newPostErrorWrapper {
  margin-top: 18px;
  width: 100%;
  background: hsla(0, 100%, 80%, 1);
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: hsl(216, 20%, 25%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}
.submitBtnWrapper {
  margin-top: 15px;
  margin-bottom: 10px;
}
.newPostCreateErrorWrapper {
  margin-top: 18px;
  width: 272px;
  background: hsla(0, 100%, 80%, 1);
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: hsl(216, 20%, 25%);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 4px;
}
@media only screen and (min-width: 768px) {
  .newPostFormContainer {
    width: 400px;
  }
  .newPostGroupWrapper {
    width: 100%;
  }
}
