.navContainer {
  background: hsl(209, 18%, 30%);
  position: static;
  top: 0;
  width: 100%;
  margin-bottom: 35px;
}
.navContainerClosed {
  width: 100%;
  height: 50px;
}
.mainNavContainer button {
  border: none;
  background: transparent;
  color: hsl(214, 33%, 97%);
  padding: 8px;
}
.mainNavContainer button:hover {
  background-color: hsl(209, 20%, 25%);
  border-radius: 5px;
  -webkit-box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1),
    0 1px 0 hsla(0, 0%, 100%, 0.15);
  box-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.1),
    0 1px 0 hsla(0, 0%, 100%, 0.15);
}
.mainNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  visibility: hidden;
  -webkit-transition: all 255ms ease-in-out;
  transition: all 255ms ease-in-out;
}
.mainNavContainer.active {
  visibility: visible;
  max-height: 150px;
}
.navBarOpenBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  border: none;
  padding: 10px;
  margin-left: auto;
  color: hsl(197, 92%, 61%);
  margin-right: 10px;
}
.navBarCloseBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: hsl(197, 92%, 61%);
  background: transparent;
  padding: 10px;
  margin-left: auto;
  border: none;
  margin-right: 10px;
}
.navBarLinkBtn {
  padding-bottom: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .navBarCloseBtn {
    display: none;
  }
  .notification {
    display: none;
  }
  .navBarOpenBtn {
    display: none;
  }
  .mainNavContainer {
    visibility: visible;
    max-height: 35px;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
