.profilePageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.profileDetailsContainer {
  width: 75%;
  background: beige;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.profileListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.usernameListItem {
  padding: 10px;
}
.systemListItem {
  padding: 10px;
}
.gamertagListItem {
  padding: 10px;
}
.newMessagesContainer {
  width: 100%;
  margin: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.myMessagesTag {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-left: 8px;
  width: 100%;
  text-align: left;
}
.messagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.newMessage {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 281px;
  background: beige;
  height: 75px;
  margin: 1em;
  border: 1px solid hsl(196, 77%, 46%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
}
.messageText {
  margin: 10px;
}
.updateProfileContainer {
  background: beige;
  width: 100%;
}
.updateProfileTag {
  text-align: left;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-left: 8px;
}
.updateProfileFormContainer {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (min-width: 767px) {
  .profileDetailsContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .profileListContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .newMessage {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
