.profilePageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.profileDetailsContainer {
  width: 75%;
  background: beige;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.profileListContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.usernameListItem {
  padding: 10px;
}
.systemListItem {
  padding: 10px;
}
.gamertagListItem {
  padding: 10px;
}
.newMessagesContainer {
  width: 100%;
  margin: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.myMessagesTag {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-left: 8px;
  width: 100%;
  text-align: left;
}
.messagesContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.newMessage {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 281px;
  background: beige;
  height: 75px;
  margin: 1em;
  border: 1px solid hsl(196, 77%, 46%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
}
.messageText {
  margin: 10px;
}
.updateProfileContainer {
  background: beige;
  width: 100%;
}
.updateProfileTag {
  text-align: left;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  padding-left: 8px;
}
.updateProfileFormContainer {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.profileFormGroupContainer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 288px;
}
.profileFormGroupContainer input {
  margin-left: 10px;
  background: transparent;
  border: 1px solid hsl(211, 10%, 53%);
  border-radius: 3px;
  padding: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  outline: none;
}
.profileFormGroupContainer input:focus {
  border: 1px solid hsl(197, 92%, 61%);
}
.profileSystemSelect {
  width: 110px;
  margin-left: 10px;
}
.updateProfileForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.profileSubmitBtn {
  background: hsl(197, 92%, 61%);
  color: hsl(210, 24%, 16%);
  border: none;
  width: 58px;
  height: 31px;
  border-radius: 6px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.profileSubmitBtn:hover {
  background: hsl(202, 83%, 41%);
}

@media only screen and (min-width: 550px) {
  .profileFormGroupContainer {
    width: 350px;
  }
}
@media only screen and (min-width: 767px) {
  .profileDetailsContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .profileListContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .newMessage {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
  .profileFormGroupContainer {
    width: 450px;
  }
}
@media only screen and (min-width: 1000px) {
  .updateProfileForm {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .profileFormGroupContainer {
    width: auto;
  }
}
